- var title = "Jakob Klassen"
- var bodyclass = "homepage"

doctype html
html(lang="de")

    head
        meta(charset="utf-8")
        meta(content="width=device-width, initial-scale=1, maximum-scale=1.0", name="viewport")
        meta(name="apple-mobile-web-app-capable", content="yes")
        link(rel="stylesheet" href='//fonts.googleapis.com/icon?family=Material+Icons')
        link(rel="stylesheet" href='//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css')
        link(rel="stylesheet" href='//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
        link(media="none" onload="if(media!='all')media='all'" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="assets/css/app.css")
        //- script(src="//code.jquery.com/jquery-2.1.1.min.js")
        //- script(src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js")
        
        title #{title}

    body(class="#{bodyclass}")

        nav.nav-wrapper.transparent
            h1.brand-logo.left(href='#')
                svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 100 125')
                  path(d='M41.514 32.562c.813 0 1.609-.063 2.393-.172l-7.386-7.387 1.981-1.98 7.409 7.408c.144-.904.229-1.827.229-2.773 0-9.673-7.842-17.515-17.516-17.515-1.399 0-2.756.168-4.058.478-.369 1.414-.566 2.897-.566 4.426-.001 9.673 7.839 17.515 17.514 17.515zM48.072 50.375c-.046-.646-.078-1.304-.078-1.853 0-.198.01-.387.018-.58H48c.004-.064.012-.127.018-.191.036-.808.134-1.557.286-2.253 1.774-9.523 10.416-16.49 20.333-15.909 1.488.087 2.963.342 4.379.759l-.789 2.689c-1.215-.357-2.477-.575-3.752-.651-7.615-.446-14.35 4.302-16.76 11.164 5.729 3.879 12.631 6.154 20.07 6.154 8.287 0 15.912-2.815 21.988-7.533-2.382-11.491-12.562-20.128-24.761-20.128-10.645 0-19.746 6.584-23.475 15.899-.03.074-.066.14-.097.215-1.106 2.843-1.714 5.937-1.714 9.173 0 .791.077 1.944.185 3.044h4.161zM95.783 49.783c-3.957-1.213-6.449 1.604-6.449 1.604L67.26 73.688l-19.743.024s-2.265-2.083-3.427-4.561-1.052-5.236-1.052-5.236l20.958.026s4.809.211 6.021-3.791c.59-1.944.621-4.762.621-4.762l-42.006-.014-4.035-.001s-2.581.057-3.746.561c-1.228.531-2.395 1.684-2.395 1.684L0 75.964l21.46 21.46 12.348-11.957h35.383s2.738.136 4.275-.802c1.264-.772 2.295-2.279 2.295-2.279L100 52.619s-.855-1.805-4.217-2.836z')
                  text(y='115', font-size='5', font-weight='bold', font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif")
                    | Created by Stefan Parnarov
                  text(y='120', font-size='5', font-weight='bold', font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif")
                    | from the Noun Project
                | Jakob Klassen
                br
                small Growth Manager   
                
            ul#nav-mobile.right.hide-on-med-and-down
                li 
                    a Digital strategy
                li 
                    a Data & analytics
                li 
                    a Bitcoin
                li 
                    a Social media


                //-     
                //- ul#slide-out.side-nav.fixed
                //-     li
                //-         a(href='#!') First Sidebar Link
                //-     li
                //-         a(href='#!') Second Sidebar Link
                //- a.button-collapse(href='#', data-activates='slide-out')
                //-     i.mdi-navigation-menu


        article.white-text.intro
            section.row
                h4.col.m10.push-m1.l4.push-l1 What I can bring on the table
                ul.col.m10.push-m1.l4.push-l3
                    li Smart Online-Marketing decisions
                    li Data driven and strategic mindset
                    li Anthropocentric point of view
                    li Focus on effectiveness
                    li Social consciousness
            section.row
                h4.col.m10.push-m1.l4.push-l1 What I expect
                ul.col.m10.push-m1.l4.push-l3
                    li Professional & open minded team
                    li Middle & long term orientation
                    li Creative space
                    li Pro-Active & independent way of working of all team members
                    li Clear KPIs
            section.row
                h4.col.m10.push-m1.l2.push-l1 Academia
                p.col.m10.push-m1.l4.push-l1 I always looked at the University period to be more than just a challenging academic experience.              
                p.col.m10.push-m1.l4.push-l1 Since the German system allows its students a lot of freedom, I used the structure it provided to try and learn new things, to engage in projects I thought they are worth it, to meet as many interesting people as possible and to proactively decide what path to go in my professional and private life.





        main.vita
            header
                h5.center.chapter Education & Academia
            section.huberlin
                section.row
                    aside.col.s12.l4.push-l1
                        img(src="assets/img/Huberlin-logo.svg.png")
                    main.col.s10.push-s1.l5.push-l2
                        h3 Humboldt-University Berlin 
                            time
                                small 10/2013 - ongoing

                        p Master of Science in Business Administration (preliminary grade after 4 semesters of enrollment: 1.9 – only the master thesis is missing)
                        p General emphasis on quantitative and econometric methods
                        p Individual emphasis on quantative marketing models ("Marketing Modelling": 1.7, "Marketing Seminar Logit Models": 1.3)
                        p Management ("International Management": 1.3, "Personnel Economics": 2.0)
                        p Grantee of Mundus-Scholarship of the European Union: Exchange Semester in Beirut, Lebanon (09/2014-03/2015)
                        

            section.ecommerce
                h5.center.chapter Professional
            
                section.row
                    main.col.s12.m8.push-m2.l5.push-l1
                        h3 Head of E-Commerce
                        time 04/2014 - ongoing
                        p
                            strong Paprcuts.de - Accessories out of superthin and robust Tyvek, regional production
                        p Conception and execution 
                            a(href="//paprcuts.de") paprcuts.de
                        p Campaign Manager of internationally 
                            a(href="//www.indiegogo.com/projects/the-thinnest-wallet-of-all-times") successful crowdfunding 
                            | "Thinnest Wallet of All Times": 21,669 €
                        p Campaign was awarded with 
                            a(href="//www.berlin.de/projektzukunft/wettbewerbe/berliner-crowdfunding-preis/ausgabe-3-crowd-for-berlin-design/") Berlin Crowdfunding Award Silver 
                            | in category design by public voting (more than 30,000 participants)
                        p Manager for all online-sales related activities: Development e-commerce infrastracture
                        p Development ad-strategy with Google Adwords and Facebook & Instagram Ads
                        p Development social media strategy
                        p Monthly online-sales growth around 10% since 04/2014
                        
                    aside.col.s12.m8.push-m2.l4.push-l2
                        img(src="assets/img/paprcuts_monitor.png")
                        
                        
                        
                        dl.small.dl--horizontal
                            dt Tools
                            dd Google Analytics
                            dd Affiliate
                            dd Facebook Ads
                            dd Google Adwords
                            dd SEO
                            dd Userjourney
                            dd Mailchimp
                            dd Blogger relations
                            dt Channels
                            dd                             
                                a(href="//instagram.com/paprcutsde") 
                                    i.fa.fa-instagram 
                                    |  Instagram 
                            dd
                                a(href="//facebook.com/paprcuts") 
                                    i.fa.fa-facebook 
                                    |  Facebook 

                section.row
                    main.col.m8.push-m2.l5.push-l1
                        time 05/2014 - ongoing
                        h3 Social Media Manager
                        p
                            strong Genesis Mining - Largest Bitcoin and cryptocurrency mining operator of the world

                        p 2 years of 
                            a(href="//blog.genesis-mining.com/why-i-love-bitcoin-series-jakob-klassen") massive growth
                            |: GM was founded in 04/2014 and after 1.5 years it was leading the industry (
                            a(href="//blog.genesis-mining.com/genesis-mining-two-year-anniversary") More than 200,000 customers
                            | )
                        p Media reports on Genesis Mining by 
                            a(href="//facebook.com/GenesisMining/posts/978346302231540") DER SPIEGEL 
                            |  (print), 
                            a(href="//economist.com/news/business/21638124-minting-digital-currency-has-become-big-ruthlessly-competitive-business-magic") The Economist
                            |, 
                            a(href="//cnbc.com/2016/03/03/reuters-america-icelands-genesis-launches-first-bitcoin-mining-fund.html") CNBC
                            |, 
                            a(href="//bloomberg.com/news/articles/2016-01-07/the-return-of-bitcoin-mining") Bloomberg
                            |  and 
                            a(href="//bloomberg.com/news/articles/2016-01-07/the-return-of-bitcoin-mining") more
                        p Responsible for 5 digits monthly budgets for Facebook Ads
                        p International & decentralized team
                        


                    aside.col.m8.push-m2.l4.push-l2
                        img(src="assets/img/genesis_monitor.png")
                        
                        
                        
                        
                        dl.small.dl--horizontal
                            dt Tools
                            dd Freshdesk
                            dd Slack
                            dd Asana
                            dd Tracking Software
                            dd AdRoll
                            dd Skype Conference Calls
                            dt Channels
                            dd
                                a(href="//facebook.com/genesismining")
                                    i.fa.fa-facebook  
                                    |  Facebook
                            dd
                                a(href="//twitter.com/")
                                    i.fa.fa-twitter  
                                    |  Twitter
                            dd
                                a(href="//youtube.com/channel/UCRLAk9bSfVyIOWoKQx6DHPQ")
                                    i.fa.fa-youtube  
                                    |  Youtube


            header.gapyear
                h3.center Gap Year 
                    br
                    time
                        small 10/2012 - 09/2013
            section.z-depth-3.lebanon
                header.row
                    h5.col.s10.push-s1.m8.push-m2.l6.push-l3
                        | Living in Beirut, Lebanon the first time & Learning Spoken Arabic 
                        time  10/2012 - 04/2013
                        br
                        | Formative intercultural experience in a highly international and diverse environment.
                        br
                        | Development of a deeper political consciousness.
                section
                    h4.center Professional
                    main.row
                        .col.m8.push-m2.l4
                            h5 Berlitz Language Institute Beirut
                                br
                                time 11/2012 - 04/2013: 
                            p Pitched pro-actively a SEO project to improve 
                                a(href="//berlitz-lebanon.com/") Berlitz Beirut language course 
                                | visibility on Google

                        .col.m8.push-m2.l4
                            h5 Goethe Institute Beirut
                                br
                                time 11/2012 - 04/2013
                             
                            p Discreet and non-discreet "field research" for benchmark analyses for language courses
                            p Creation of a report on the economical situation of Lebanon
                            p Assistant of the director for cultural affairs 
                                a(href="//deutschlandradiokultur.de/es-geschieht-unrecht.954.de.html?dram:article_id=146586") Sabine Haupt
                            
                        .col.m8.push-m2.l4
                            h5 Goethe Institute Munich
                                br
                                time 08/2013 - 12/2013
                             
                            p Coordinator for job market programm "Goethe Students and Job Market"


            header.lmu
                h3.center Ludwig-Maximilians University Munich 
                    br
                    time
                        small 10/2008 - 09/2012
            section.row
                aside.col.m8.push-m2.l5.push-l1
                    h4 Academia

                    p Bachelor of Science in Economics (Final grade: 2.57 / ECTS grade: B - within the best 35% of all successful students)
                    p General emphasis on empirical and statistical methods & development economics
                    p Two semesters Political Science B.A. (10/2008 - 09/2009)
                section.col.m8.push-m2.l5.push-l1
                    main
                        h4 Professional & Volunteering Work


                        dl
                            dt Internship
                                small 09/2009–10/2010
                            dd Office of a member of German parliament: 
                                a(href="//sueddeutsche.de/politik/spd-im-bundestagswahlkampf-schattenkabinett-ohne-ulla-schmidt-1.153728") Ulrike Merten, SPD
                                | . She was a part of the frontrunner candidate team for the national parliament election in 2009 of Frank-Walter Steinmeier, currently holding office as minister for foreign affairs.
                            dt 
                                a(href="//commitmuenchen.com/") Commit to Partnership e.V.
                            dd Voluntary work for a university club concerned with institutional racism, development aid & politics. Conception and organization of a project about HIV awareness in Uganda, Execution in Masaka, Uganda (2 months in spring 2010).
                            dt 
                                a(href="//massmannplatz.de/") Massmannwohnheim München e.V.
                            dd Leading a marketing team for a big student festival in Munich (1,200 visitors)
                            dt
                                a(href="//aiesec.de/muenchen/") AIESEC
                            dd Being part of the reception team of AIESEC (Munich), the world's largest youth organization. Organization of international internships.
                            dt DAPD News agency
                            dd Journalistic freelancer field of sports for the second largest german news agency

            footer.row.center
                .valign-wrapper
                    //- aside.col.s12.m7
                    //-     img(src="assets/img/DSC3514.JPG")
                    .valign.col.s12
                        h2 Let's start the work!
                        a(href="mailto:jakob@kuul.io?subject=Ihr%20Digitales%20Portfolio&body=Sehr%20geehrter%20Herr%20Klassen%0D%0A%%0D%0A%0D%0Ah%C3%A4tten%20Sie%20vielleicht%20Interesse%20an%20an%3A%20...").btn.white.black-text.text-blue-grey Contact Jakob
                            i.material-icons.right send

        script.
        //-   // Initialize collapse button
        //-   $(".button-collapse").sideNav();
        //-   // Initialize collapsible (uncomment the line below if you use the dropdown variation)
        //-   //$('.collapsible').collapsible();
                
        //-     $(document).ready(function(){
        //-       $('.collapsible').collapsible({
        //-         accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
        //-       });
        //-     });
